*{
  margin:0;
  padding:0;
}
.container-fluid{
  background: url("../../assets/login.jpg");
  background-size: cover;
  height: 100vh;
}
.login{
  color: white;
  background-color: rgba(24,31,41,0.8);
  width: 23%;
  border-radius: 8px;
  margin: 14% auto 0;
}
.login-title{
  background-color: rgba(24,31,41,0.9);
  border-radius: 8px;
  font-size: 18px
}
.login-title p{
  display: inline-block;
}
.login-title p span{
  font-size: 25px;
  font-weight: bold;
}
.login-body{
  padding:8% 8% 15% 10%;
}
form input{
  width: 100%;
  outline: none;
  padding-bottom: 3%;
  vertical-align:middle;
}
.form-inline label{
  padding-bottom: 5%;
}
