*{
  margin: 0;
  padding: 0;
}
.container-fluid{
  background-color: rgba(69, 76, 84, 0.52);
  margin-right: 5px;
  border-radius: 6px;
}
.title{
  position: absolute;
  top: 10px;
  width: 13%;
  left: 80px;
  background-color:#202833;
  height: 48px;
  color: white;
  box-shadow: rgba(27, 24, 24, 0.52) 10px 10px 30px 5px;
  font-size: 15px;
  padding-top: 10px;
  z-index: 1;
}
.i-title{
  display: inline;
}
.i-link{
  display: inline;
  float: right;
  padding: 10px;
  cursor: pointer;
}
.i-link a{
  text-decoration: none;
  font-size: 20px;
  color: black;
}
.i-link i{
  margin-left: 10px;
}
.chart{
  width: 100%;
  z-index: 0;
}
.information{
  background-color: white;
}
.information-title{
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.42);
}
.information-title i,p{
  font-size: 17px;
}
.information-body{
  padding-left: 2%;
}
table th,td{
  padding: 4px 0 4px 0;
}
