<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <div class="title">
        <p><span>智慧管网</span>管理系统</p>
        <div class="nav">
          <a href="#" style="color: white;"> <i class="glyphicon glyphicon-align-justify"></i></a>
        </div>
      </div>
    </div>
    <div class="col-md-10">
      <div class="information">
        <ul>
          <li style="padding-top: 0px;"><a href="#">
            <div class="user-image">
              <div class="glyphicon glyphicon-user" style="color: black;"></div>
            </div>
          </a></li>
          <li>
            <a href="#"><p style="font-size: 15px;">你好，管理员</p></a>
          </li>
          <li><a href="#"><div>个人中心</div></a></li>
          <li><a href="#"><div>退出</div></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
