<div class="container-fluid">
  <div class="Home">
    <div class="row">
      <div class="header">
        <app-header></app-header>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1">
        <div class="sider">
          <app-sider></app-sider>
        </div>
      </div>
      <div class="col-md-11">
        <div class="main">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="footer">
      </div>
    </div>
  </div>
</div>
